// Specific CSS for your home-page

h1, h2 {
  font-weight: 200;
  background: linear-gradient(to right, $primary-blue, $primary-blue-light);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

body {
  background-color: #FEF7EF;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
}

.btn-primary-orange {
  background: linear-gradient(to right, $primary-orange, $primary-orange-light);
  color: white;
}

.btn-primary-blue {
  background: linear-gradient(to right, $primary-blue, $primary-blue-light);
  color: white;
}
