
<div class="container">

  <div class="footer logo">
      <h2>Adopt<span>Pet</span></h2>
      <p>Adoção consciente</p>
  </div>
  <div class="footer menu">
      <h3>Menu</h3>
      <ul>
          <li><a href="#">Quero adotar</a></li>
          <li><a href="#">Quero doar</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Cadastre-se</a></li>
      </ul>
  </div>
  <div class="footer social">
      <h3>Siga a AdoptPet</h3>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer newsletter">
      <h3>Cadastre-se e receba novidades</h3>
      <input type="email" placeholder="Informe seu e-mail">
      <p>Li e aceito as <a href="#">políticas de privacidade</a></p>
      <button>Enviar</button>
  </div>
</div>
</footer>
