<div class="footer">

<div class="row-footer">

  <div class="col-footer">
    <%= image_tag "adoptpet-logo.png", alt: "Logo", class: "footer-image" %>
  </div>

  <div class="col-footer">
    <h3>Menu</h3>
      <ul>
          <li><a href="#">Quero adotar</a></li>
          <li><a href="#">Quero doar</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Cadastre-se</a></li>
      </ul>
  </div>

  <div class="col-footer">Column 3</div>


  <div class="col-footer">Column 4</div>


</div>
</div>
