<div class="index-banner-wrapper">
  <%= image_tag "index-banner.png", alt: "Banner", class: "index-banner-image" %>
  <div class="index-banner-overlay d-flex align-items-center">
    <div class="container">
      <h2 class="banner-overlay-text txt-margin" data-controller="counter">
        <span class="counter-number" data-counter-target="counter">500</span> bichinhos jรก encontraram um lar.
        <br>Adote um Pet! <br>

      </h2>
      <div class="btn btn-primary-orange txt-margin">Descubra seu pet perfeito</div>
    </div>
  </div>
</div>
