<div class="index-banner-wrapper">
  <%= image_tag "index-banner.png", alt: "Banner", class: "index-banner-image" %>
  <div class="index-banner-overlay d-flex align-items-center">
    <div class="container">
      <h1 class="banner-overlay-text txt-margin">Transforme uma vida, adote um pet</h1>
      <div class="btn btn-primary-orange txt-margin">Descubra seu pet perfeito</div>
    </div>
  </div>
</div>
