<div class="container">
  <div class="row">
    <div class="col">
    <h1>⏳Suas ordens🧾</h1>
    </div>
  </div>
  </div>

  <% current_user.orders.each.each do |order| %>
  <div class="m-5">
  <h3>Adoção #452<%= order.id %></h3>
  <p><%= order.pet.name %> - Adotado em <%= order.created_at.strftime("%d/%m/%Y") %></p>
  <%= link_to "Ver Mais", order_path(order), class: "btn btn-primary"%>
  </div>
  <% end %>
