<h1>Meus Bichihos</h1>

<ul>
  <% current_user.pets.each do |pet| %>
    <li>
      <%= link_to pet.name, pet_path(pet) %> - Adopted on <%= pet.orders.first.created_at.strftime("%B %d, %Y") %>
    </li>
  <% end %>
</ul>
