.footer {
  width: 100%;
  height: auto; // Ajuste para auto para melhor responsividade
  background: #FFEFDD;
  color: #2259AB;
  padding: 20px; // Reduzi o padding para 20px
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.row-footer {
  display: flex;
  gap: 10px; // Reduzi o gap para 10px
  justify-content: space-around;
}

.col-footer {
  flex: 1;
  text-align: justify;
  font-size: 12px;

  h3 {
    font-size: 15px;
  }

  li {
    text-decoration: none;
    list-style: none;
  }
}

.col-footer.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image {
  width: 40%;
}

.footer-links {
  display: flex;
  align-items: center;

  a {
    color: #FB7425;
    text-decoration: none;
    opacity: 90%;
    font-size: 20px;
    padding: 0px 5px;

    &:hover {
      opacity: 100%;
    }
  }
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
  }

  label {
    display: flex;
    align-items: center;
    font-size: 12px;

    a {
      color: #2259AB;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.footer-btn {
  width: 25%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  background: linear-gradient(to right, $primary-orange, $primary-orange-light);
  color: white;
}
