.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #FFEFDD;
  color: #2259AB;
  padding: 10px;
  align-items: center;
}

.footer-image{
  width: 50%;
  align-items: center;
}
.row-footer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.col-footer {
  flex: 1;
  padding: 20px;
  text-align: center;
  align-items: center;
  li{

  }
}
