.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: $body-font;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-left-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.navbar-left-link:hover {
  text-decoration: none;
  color: inherit;
}

.logo-icon {
  font-size: 24px;
  color: $primary-orange;
}

.primary-orange {
  color: $primary-orange;
}

.navbar-brand {
  font-family: "Alfa Slab One", "Helvetica", "sans-serif";
  font-size: 22px;
  color: #2259AB;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #2259AB;
}

.nav-link.bold {
  font-weight: bold;
}

.menu-icon {
  font-size: 22px;
  color: $primary-orange;
  cursor: pointer;
}

.navbar-separator {
  border: none;
  border-top: 1px solid #2259AB;
  margin: 0 20px;
  margin-bottom: 40px;
}
