.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 60px;
  font-family: $body-font;
  z-index: 10000;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-left-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.navbar-left-link:hover {
  text-decoration: none;
  color: inherit;
}

.logo-icon {
  font-size: 24px;
  background: linear-gradient(to right, $primary-orange, $primary-orange-light);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo-icon-center {
  font-size: 40px;
  background: linear-gradient(to right, $primary-orange, $primary-orange-light);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-orange {
  color: $primary-orange;
}

.navbar-brand {
  font-family: "Alfa Slab One", "Helvetica", "sans-serif";
  font-size: 22px;
  background: linear-gradient(to right, $primary-blue-light, $primary-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #2259AB;
}

.nav-link.bold {
  font-weight: bold;
}

.menu-icon {
  font-size: 22px;
  color: $primary-orange;
  cursor: pointer;
}

.navbar-separator {
  border: none;
  border-top: 1px solid #2259AB;
  margin: 0;
}


.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
