.order-container {
  background: #FEF7EF;
  border-radius: 36px;
  border: 2px solid #2259AB;
  text-align: center;
  padding: 20px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
