.center-container {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  p {
    color: $primary-blue;
  }
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 30px;
  border: 2px solid $primary-blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
      color: $primary-blue;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid $primary-blue;
      border-radius: 20px;
      font-size: 16px;
      background-color: white;
    }

    input[type="text"], select, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid $primary-blue;
      border-radius: 20px;
      font-size: 16px;
    }

    .radio-group {
      display: flex;
      gap: 10px;

      label {
        font-weight: normal;
      }
    }
  }

  .btn-primary-orange {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    background: linear-gradient(to right, $primary-orange, $primary-orange-light);
    color: white;
  }
}
