.pet-card {
  // background: white;
  border-radius: 20px;
  overflow: hidden;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pet-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.pet-info {
  background: #FEF7EF;
  border: 2px solid #2259AB;
  border-radius: 36px;
  width: 100%;
  padding: 15px;
  margin-top: -32px;
  text-align: center;
}

.pet-name {
  font-family: "Alfa Slab One", sans-serif;
  font-size: 20px;
  font-weight: 100;
  background: linear-gradient(to right, $primary-blue, $primary-blue-light);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pet-gender {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #444;
  margin-top: 5px;
}

.details-button {
  background: linear-gradient(to right, $primary-blue, $primary-blue-light);
  color: white;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
