.login{
  position: relative;
  z-index: 2;
  border-radius: 24px;
  background: #ffefdd;
  padding: 50px 8px 29px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login img{
  width: 100px;
  margin: 0 0 32px;
}

.login :is(h2, h3){
  width: 100%;
  margin: 8px 0;
}
.login h2{
  font-size: 18px;
  margin: 0 0 6px;
}

.login h3{
  color: var(--color-muted);
  font-size: 13px;
  margin: 0 0 32px;
}

.login form{
  width: 100%;
  display: grid;
  gap: 15px;
  margin: 0 0 20px;
}

.login :is(input){
  height: 50%;
  font-family: inherit;
  font-size: 20px;
  padding: 0px 12px;
  border: 0;
  border-radius: 8px;
}

.login .textbox{
  position: relative;
}

input{
  transition: 0.3s;
}

.textbox label{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: 0 -50%;
  transform-origin: 0 50%;
  pointer-events: none;
  color:
  var(--color-muted);
}

.blob{
  position: fixed;
  z-index: 1;
  top: 41%;
  left: 50%;
  width: 69vw;
  max-width: 400px;
  translate: -50% -50%;
}
